  <% if @user.errors.any? %>
    <div class="register-notice">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being registered:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="register">
  <h1>Register</h1>

  <hr />


  <%= form_for @user do |f| %>
    <div class="form_row">
      <div class="label"><%= f.label :username %></div>
      <%= f.text_field :username %>
    </div>

    <div class="form_row">
      <div class="label"><%= f.label :password %></div>
      <%= f.password_field :password %>
    </div>

    <div class="form_row">
      <div class="label"><%= f.label :repeat %></div>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit :Signup, :class=>'button' %>
  <% end %>

  <hr />

  <div class="bottom_link"><%= link_to 'Back', root_path %></div>
</div>