<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% @page_title = "UserAuth | Login" -%>
<div class= "signin">
  <h1>Log in</h1>
  <hr />
  <%= form_tag(:action => 'login_attempt') do %>
    <div class="form_row"><div class="label">Username</div><%= text_field_tag(:username) %></div>
    <div class="form_row"><div class="label">Password</div><%= password_field_tag :login_password %></div>
    <%= submit_tag("Log In", :class=>"button") %>
  <% end %>

  <hr />
  <div class="bottom_link"><%= link_to 'Register', new_user_path %></div>
</div>

