<div class="addexercise">
	<%= form_for([@calendar, @calendar.exercises.build]) do |f| %>
		<div class="form_row">
			<div class="label"><%= f.label :title %></div>
			<%= f.text_field :title %>
		</div>
		<div class="form_row">
			<div class="label"><%= f.label :body %></div>
			<%= f.text_area :body %>
		</div>
		<div class="form_row">
			<div class="label"><%= f.label :url %></div>
			<%= f.text_field :url %>
		</div>
		
		<div class="form_row">
			<%= f.submit 'Add new exercise', :class => 'button' %>
		</div>
	<% end %>
</div>