<div class="calendar">
	<div class="selector">
		<%= button_to "Previous", {:action => 'index', :month => @time.month, :year => @time.year, :direction => 'prev'}, {class: 'item'} %>

		<p class="item"><%=@time.strftime("%B")%>, <%=@time.year%></p>
		
		<%= button_to "Next", {:action => 'index', :month => @time.month, :year => @time.year, :direction => 'next'}, {class: 'item'} %>
	</div>
      <div class="week">
        <div class="day-header">Mon</div>
        <div class="day-header">Tue</div>
        <div class="day-header">Wed</div>
        <div class="day-header">Thu</div>
        <div class="day-header">Fri</div>
        <div class="day-header">Sat</div>
        <div class="day-header">Sun</div>
      </div>
	<% @days_now.times do |n| %>
	<% if @day == 1 || @started == 0 %>
	  <div class="week">
	  <% if @day != 1 %>
	  	<% 1.upto(@day -1) do %>
	  	<div class="day"></div>
	  	<% end %>
	  <% end %>
	<% @started = 1 %>
	<% end %>

    	<% if @exes[n+1] == nil %>
    		<div class="day no-exes">
    			<%= link_to n+1, new_calendar_path(:day => n+1, :month => @time.month, :year => @time.year) %>
    		</div>
    	<% else %>
    		<div class="day with-exes">
    			<%= link_to n+1, calendar_path(@exes[n+1]) %>
    			<p><%= @exes[n+1].desc %></p>
    		</div>
    	<% end %>


	<% if @day == 7 || n+1 == @days_now %>
	  <% if n+1 == @days_now && @day != 7 %>
	  <% @day.upto(6) do %>
	    <div class="day"></div>
	  <% end %>
	  <% end %>
	  </div>
	<% end %>
	<% if @day == 7
	  		@day = 1
	  		@week += 1
	  	else
	  		@day += 1
	  	end %>
	<% end %>

</div>