<h2>Edit exercise day for <%= @calendar.date.strftime("%B") %> <%= @calendar.date.day %>, <%= @calendar.date.year %></h2>

<% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@calendar.errors.count, "error") %> prohibited
        this day from being added:
      </h2>
      <ul>
        <% @calendar.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="addexerciseday">
  <%= form_for @calendar do |f| %>
    <%= f.hidden_field :date %>
    <%= f.hidden_field :user, :value => session[:user_id] %>

    <div class="form_row">
      <div class="label"><%= f.label :description %></div>
      <%= f.text_field :desc %>
    </div>

    <div class="form_row">
      <%= f.submit :Add, :class => 'button' %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', @calendar %>