<%= render partial: 'logout' %>

<div class="day-top">
	<h1><%= @calendar.date.strftime("%B") %> <%= @calendar.date.day %>, <%= @calendar.date.year %></h1>
	<%= link_to 'Edit', edit_calendar_path %>
	<%= link_to 'Destroy', @calendar, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<p><strong>Day description:</strong> <%= @calendar.desc %></p>

<h2>Exercises</h2>
<% @calendar.exercises.each do |exercise| %>
	<div class="single-exercise">
		<div class="header-row">
			<h3><%= exercise.title %></h3>
			<%= link_to 'Destroy exercise', [exercise.calendar, exercise],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	    	<%= link_to 'Edit exercise',#, [exercise.calendar, exercise],
	    		   edit_calendar_exercise_path(:calendar_id => @calendar.id, :id => exercise.id) %>
	    </div>
		<p><%= exercise.body %></p>
		<p>
			<% if exercise.url.start_with?("https://www.youtube.com/") %>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= exercise.url.split('v=')[-1] %>" frameborder="0" allowfullscreen></iframe>
			<% elsif exercise.url.end_with?(".jpg", ".jpeg", ".png", ".gif") %>
				<img src="<%= exercise.url %>" alt="pic" />
			<% else %>
				<%= exercise.url %>
			<% end %>
		</p>
	</div>
<% end %>

<h2>Add new exercise</h2>

<%= render 'addexercise' %>

<%= link_to "Back", {:action => 'index', :month => @calendar.date.month, :year => @calendar.date.year} %>
