// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$day-width: 125px;
$day-height: 80px;
$calendar-width: 925px;

.calendar {
	width: $calendar-width;
	margin: auto auto;
}

.selector {
	width: $calendar-width/4*3;
	height: 50px;
	margin: auto;
	.item {
		margin: auto;
		float:left;
		width: $calendar-width/4;
	}

	p {
		text-align: center;
		font-size: 24px;
		font-weight: bolder;
	}

	input {
		background: #496;
		border-radius: 10px;
		padding: 5px;
		color: #FFF;
		font-weight: bolder;
		font-size: 18px;
		border: 0;
	}

	input:hover {
		cursor: pointer;
		background: #274;
	}
}

.week {
	clear:both;
}

.day {
	float:left;
	width: $day-width;
	height: $day-height;
	border: 1px solid #000;
	padding: 5px 0 0 5px;
	background: #EEE;
	font-family: Arial, Helvetica, sans-serif;

	a {
		font-size: 22px;
		color: #0A0;
		font-weight: bolder;
		text-decoration: none;
		float: left;
	}

	a:hover {
		color: #F00;
	}

	p {
		text-align: right;
		padding-right: 4px;
		padding-top: 5px;
		font-size: 14px;
	}
}

.no-exes {
	background: #AAA;
}

.with-exes {
	background: #AEA;
}

.day-header {
	float:left;
	width: $day-width;
	font-weight: bolder;
	font-size: 18px;
	border: 1px solid transparent;
	text-align: center;
	padding: 0 0 0 5px;
}

.day-top {
	width: 100%;
	height: 70px;
	clear: both;

	h1 {
		float: left;
	}

	a {
		float: left;
		padding-top: 30px;
		width: 100px;
		text-align: right;
		text-decoration: none;
		color: #006;
	}

	a:hover {
		color: #D00;
	}

}

.addexerciseday {
	height: 120px;
	clear: both;

	.form_row {
		clear: both;

		.label {
			margin: 0 auto;
			font-size: 20px;
			width: 120px;
			margin: 10px;
			float: left;
		}

		input {
			float: left;
			width: 220px;
			height: 25px;
			margin: 10px 0 20px 0;
			border-radius: 10px;
			border: 2px solid #AAA;
		}

		.button {
			width: 200px;
			height: 40px;
			background: #689;
			border-radius: 10px;
			border: 0;
			color: #FFF;
			font-size: 18px;
			margin: 0 0 0 70px;
		}

		.button:hover {
			cursor: pointer;
			background: #467;
		}
	}
}