// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addexercise {
	height: 300px;
	clear: both;

	.form_row {
		clear: both;

		.label {
			margin: 0 auto;
			font-size: 20px;
			width: 70px;
			margin: 10px;
			float: left;
		}

		input {
			float: left;
			width: 220px;
			height: 25px;
			margin: 10px 0 20px 0;
			border-radius: 10px;
			border: 2px solid #AAA;
		}

		textarea {
			float: left;
			width: 220px;
			height: 80px;
			margin: 10px 0 20px 0;
			border-radius: 10px;
			border: 2px solid #AAA;
		}

		.button {
			width: 200px;
			height: 40px;
			background: #689;
			border-radius: 10px;
			border: 0;
			color: #FFF;
			font-size: 18px;
			margin: 0 0 0 70px;
		}

		.button:hover {
			cursor: pointer;
			background: #467;
		}
	}
}

.single-exercise {
	width: 600px;
	clear: both;
	background: #EEF;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;

	.header-row {
		width: 600px;
		height: 50px;
		clear: both;

		h3 {
			float: left;
			width: 350px;
			height: 25px;
			font-family: Arial, Helvetica, sans-serif;
		}

		a {
			float: right;
			height: 30px;
			width: 120px;
			padding-top: 20px;
			margin-bottom: 15px;
			text-decoration: none;
			color: #006;
		}

		a:hover {
			color: #D00;
		}
	}

	p {
	}
}