// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
	width: 240px;
	background: #FDD;
	border-radius: 10px;
	border: 2px solid #E77;
	margin: 10px auto;
	padding: 15px 15px 15px 20px;
}

.signin {
	background: #EFFFFF;
	width: 300px;
	//height: 310px;
	margin: 0 auto;
	border-radius: 40px;

	h1 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 26px;
		width: 80px;
		margin: 0 auto;
		padding: 15px 0;
	}

	hr {
		background: #DEF;
		border: 2px solid #DEF;
	}

	.button {
		width: 170px;
		height: 40px;
		background: #689;
		border-radius: 10px;
		border: 0;
		color: #FFF;
		font-size: 18px;
		margin: 0 0 0 70px;
	}

	.button:hover {
		cursor: pointer;
		background: #467;
	}

	.bottom_link {
		height: 35px;

		a {
			text-decoration: none;
			color: #023;
			font-size: 18px;
			font-weight: bolder;
			width: 100px;
			height: 50px;
			margin-left: 120px;
		}
	}

	.form_row {
		clear: both;
		margin: 0 auto;

		.label {
			margin: 0 auto;
			font-size: 22px;
			width: 100px;
			margin: 10px;
			float: left;
		}

		input {
			float: left;
			width: 150px;
			height: 25px;
			margin: 10px 0 20px 0;
			border-radius: 10px;
			border: 2px solid #AAA;
		}
	}
}